/*BASE*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*This defines what 1rem is*/
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
}

/*SECTIONS*/
.section-about {
    background-color: #333;
    color: #f7f7f7;
    height: 100vh;
    width: 100%;
    position: relative;
}

.section-content {
    color: #444;
    height: 100%;
    border-left: solid 3px #999;
    padding: 1rem 4rem;
    margin: 2rem 0 0 1rem;
}

.section-additional {
    background-color: #333;
    color: #f7f7f7;
    height: 100vh;
    padding: 6rem 3rem;
}

/*MAIN*/
.main {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main__shape {
    display: block;
    margin: 0 auto;
    width: 14rem;
    height: 14rem;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}
.main__photo {
    height: 100%;
    transform: translate(2.3rem, 6.5rem) scale(2);
}
.main__text-box {
    margin-top: 2rem;
    font-size: 1.3rem;
    text-align: justify;
}
.main__contact-box {
    margin-top: 5rem;
    text-align: left;
    font-size: 1.4rem;
}

/*CONTACT*/
.contact__list {
    list-style: none;
}
.contact__link:link,
.contact__link:visited {
    margin-left: 1rem;
    text-decoration: none;
    color: #f7f7f7;
}

/*CONTENT*/
.content__icon {
    font-size: 1.7rem;
    padding: 0 1rem;
    margin-left: -4rem;
}
.content__list {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.9rem;
}
.content__text-style--1 {
   /* font-family: 'Courier New', Courier, monospace;*/
    letter-spacing: .03rem;
    color: #777;
    margin-right: 1rem;
    font-weight: 700;
    font-size: 1.4rem;
}
.content__text-style--2 {
    letter-spacing: 0.04rem;
    font-weight: 700;
}
.content__text-style--3 {
    transform: skewX(-10deg);
    font-size: 1.3rem;
}
.content__text-style--4 {
    color: #888;
    text-transform: none;
    margin-bottom: 0.2rem;
}
.content {
    display: inline-block;
    font-size: 1.4rem;
    width: 100%;
}
.content__text-box {
    padding: 1rem 0.2rem 0.4rem 0.2rem;
}


/*HEADERS*/
.heading-about {
    text-transform: uppercase;
    margin-bottom: 2rem;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
}
.heading-about--main {
    font-size: 5rem;
}
.heading-about--sub {
    font-size: 1.9rem;
}

.heading-contact {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
}

.heading-big {
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    position: relative;
}

.section-content .heading-big::before {
    position: absolute;
    content: "";
    border: solid .2rem #999;
    background-color: #999;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    padding: .1rem;
    transform: translate(-4.9rem, 2.4rem);
}
.heading-big--black {
    color: #555;
    border-bottom: 4px solid #999;
}
.heading-big--white {
    color: #f7f7f7;
    border-bottom: 4px solid #f7f7f7;
}



/*FEATURES*/
.dot-element {
    display: inline-block;
    border: solid .2rem #aaaaaa;
    background-color: #aaaaaa;
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    padding: .1rem;
    margin-right: .8rem;
}

.dot-box {
    margin-left: -3rem;
}

.hash-box {
    display: inline-block;
    padding: .15rem .6rem;
    background-color: #777;
    border-radius: 2px;
    margin-right: .6rem;
    margin-bottom: 1rem;
}
.hash-text {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.25rem;
}

/*UTILITIES*/
.u-margin-left-minus {
    margin-left: -3rem
}

.u-margin-left-minus--big {
    margin-left: -5rem;
}

.u-width-70 {
    width: 70%;
}

/*GRID*/
.row {
    margin: 0 auto; }
    .row:not(:last-child) {
      margin-bottom: 3rem; }
    .row::after {
      content: "";
      display: table;
      clear: both; }
    .row [class^="col-"] {
      float: left; }
      .row [class^="col-"]:not(:last-child) {
        margin-right: 4.5rem; }
    .row .col-1-of-2 {
      width: calc((100% - 4.5rem)/2); }
    .row .col-1-of-3 {
      width: calc((100% - 2 * 4.5rem)/3); }
    .row .col-2-of-3 {
      width: calc(2 * ((100% - 2 * 4.5rem)/3) + 4.5rem); }
    .row .col-1-of-4 {
      width: calc((100% - 3 * 4.5rem)/4); }
    .row .col-2-of-4 {
      width: calc(2 * ((100% - 3 * 4.5rem)/4) + 4.5rem); }
    .row .col-3-of-4 {
      width: calc(3 * ((100% - 3 * 4.5rem)/4) + 2 * 4.5rem); }